<!DOCTYPE html>
<html lang="en">
<head>
    <header Access-Control-Allow-Origin: *>

    </header>
    <link rel="icon" type="image/x-icon" href="">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Information</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
</head>
<body>

       

        <div class="form-row">
          <div class="col-md-4 mb-3">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="logo_image">Logo URL</label>
            <input type="text" class="form-control" id="logo_image" placeholder="Logo image" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="about_us">About us</label>
            <textarea class="form-control" id="about_us">
            </textarea>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="location">Location</label>
            <input type="text" class="form-control" id="location" placeholder="Location" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="employee_size">Employee Size</label>
            <input type="number" class="form-control" id="employee_size" placeholder="Employee Size" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="website_link">Website Link</label>
            <input type="text" class="form-control" id="website_link" placeholder="Website Link" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="founder_name">Founder Name</label>
            <input type="text" class="form-control" id="founder_name" placeholder="Founder Name" value="" required>
            
          </div>
          <div class="col-md-4 mb-3">
            <label for="founded_date">Founded Date</label>
            <input type="text" class="form-control" id="founded_date" placeholder="Founded Date" value="" required>
            
          </div>
        
          <button tabindex="8" type="submit" name="submit" class="btn btn-primary" onclick="validate();">SUBMIT</button>
          <span id="ErrorMessage" class="apply" style="color:red"></span>
          <div id="apiResponse"></div>
      
      
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>


    // Function to get the value of a cookie by name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Check if this cookie name matches the name we're looking for
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    $('.founded_date').datepicker({
        format: 'mm/dd/yyyy'
    });

    function validate() {
        var name = $('#name').val();
        var logo_image = $('#logo_image').val();
        var about_us = $('#about_us').val();
        var location = $('#location').val();
        var employee_size = $('#employee_size').val();
        var website_link = $('#website_link').val();
        var founder_name = $('#founder_name').val();
        var founded_date = $('#founded_date').val();

        var valid = 0;
        if (name == '') {
            $('#ErrorMessage').text('Please enter name');
            $('#name').css('border-color', 'red');
            $("#name").focus();
            return false;
        } else {
            $('#name').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (logo_image == '') {
            $('#ErrorMessage').text('Please enter logo image');
            $('#logo_image').css('border-color', 'red');
            $("#logo_image").focus();
            return false;
        } else {
            $('#logo_image').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (about_us == '') {
            $('#ErrorMessage').text('Please enter about us');
            $('#about_us').css('border-color', 'red');
            $("#about_us").focus();
            return false;
        } else {
            $('#about_us').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (location == '') {
            $('#ErrorMessage').text('Please enter location');
            $('#location').css('border-color', 'red');
            $("#location").focus();
            return false;
        } else {
            $('#location').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (employee_size == '') {
            $('#ErrorMessage').text('Please enter employee size');
            $('#employee_size').css('border-color', 'red');
            $("#employee_size").focus();
            return false;
        } else {
            $('#employee_size').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (website_link == '') {
            $('#ErrorMessage').text('Please enter website link');
            $('#website_link').css('border-color', 'red');
            $("#website_link").focus();
            return false;
        } else {
            $('#website_link').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (founder_name == '') {
            $('#ErrorMessage').text('Please enter founder name');
            $('#founder_name').css('border-color', 'red');
            $("#founder_name").focus();
            return false;
        } else {
            $('#founder_name').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (founded_date == '') {
            $('#ErrorMessage').text('Please enter founded date');
            $('#founded_date').css('border-color', 'red');
            $("#founded_date").focus();
            return false;
        } else {
            $('#founded_date').css('border-color', 'green');
            $('#ErrorMessage').text('');
            valid++;
        }
        if (valid == 8) {
            
            var apiUrl = "https://assessment.appiness.cc/api/business-info/create-business/";
            // Define the JSON data to send in the request

            var jsonData = {
                "name": $('#name').val(),
                "logo_image": $('#logo_image').val(),
                "about_us": $('#about_us').val(),
                "location": $('#location').val(),
                "employee_size": $('#employee_size').val(),
                "website_link": $('#website_link').val(),
                "founder_name": $('#founder_name').val(),
                "founded_date": $('#founded_date').val()
            };

            // Get the CSRF token from the cookie
            var csrfToken = getCookie('csrftoken');

            // Make an AJAX POST request to the API
            var xhr = new XMLHttpRequest();
            xhr.open("POST", apiUrl, true);
            xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            xhr.setRequestHeader("X-CSRFToken", csrfToken); // Include CSRF token in headers

            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    document.getElementById("apiResponse").innerHTML = "API Response: " + JSON.stringify(response);
                } else {
                    document.getElementById("apiResponse").innerHTML = "API Error: " + xhr.statusText;
                }
            };

            xhr.onerror = function() {
                document.getElementById("apiResponse").innerHTML = "Network Error";
            };

            xhr.send(JSON.stringify(jsonData));

            return true;
        } else {
            return false;
        }
    }
</script>
</html>