<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- DataTables JavaScript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<table id="dataTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Logo</th>
            <th>About us</th>
            <th>Location</th>
            <th>Employee Size</th>
            <th>Website Link</th>
            <th>Founder Name</th>
            <th>Founded Date</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <!-- Data will be populated here -->
    </tbody>
</table>



<script>
    $(document).ready(function() {
        // Initialize DataTable
        var dataTable = $('#dataTable').DataTable();

        // Fetch data from your API using the fetch API
        fetch('https://assessment.appiness.cc/api/business-info/list-all-business/')
            .then(response => response.json())
            .then(data => {
                // Loop through the data and add rows to the DataTable
                data.message.forEach(item => {
                    dataTable.row.add([
                        item.id,
                        item.name,
                        '<img src="' + item.logo_image + '" alt="Logo" width="50">',
                        item.about_us,
                        item.location,
                        item.employee_size,
                        '<a href="' + item.website_link + '">' + item.website_link + '</a>',
                        item.founder_name,
                        item.founded_date,
                        '<a href="#">Edit</a>',
                        '<a href="#">Delete</a>',
                    ]).draw();
                });
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    });
</script>
